

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #D4CACD;
  height: 100%;
  width: 100%;
}

.poll{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #BE3455;
  width: 400px;
  margin: 200px auto;
  border-radius: 5px;
  padding: 1em;
}

.fuck{
  display: flex;
  justify-content: center;
  margin-top: -10px;
}

.question{
  padding: 5px;
}

.buttons_wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button{
  text-align: left;
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  /*background: linear-gradient(to right, #a79fa1 30%, #D4CACD 30%);*/
}

.button_pressed{
  text-align: left;
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.button_text{
  color:#772035;
  font-weight: 500;
  font-family: 'Fira Code', monospace;
}

.footer{
  display: flex;
  justify-content: center;
  font-size: small;
  text-decoration: none;
}
.footer a{
  color: rgb(189, 189, 185);
}